<div class="text-center">
  <div class="container mt-3">
    <h1>Check out our tasty dishes!</h1>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="column">Name</th>
          <th scope="column">Chef</th>
          <th scope="column">Tastiness</th>
          <th scope="column">Calories</th>
        </tr>
      </thead>
      <tbody>
        @foreach (Dish dish in Model)
        {
          <tr>
            <td>@dish.Name</td>
            <td>@dish.Creator?.FirstName @dish.Creator?.LastName</td>
            <td>@dish.Tastiness</td>
            <td>@dish.Calories</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
