@model Dish

<h1>@Model.Name</h1>
<h3>@Model.Chef</h3>
<h3>@Model.Tastiness</h3>
<h3>@Model.Calories</h3>
<h3>@Model.Description</h3>

<form
asp-controller="Home"
asp-action="DeleteDish"
asp-route-postID="@Model.PostID"
method="POST"
>
<button class="btn btn-outline-danger">Delete</button>

</form>

